doctype html
html(lang="en",ng-app="app")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,700",rel="stylesheet")
    link(href="/main.css",rel="stylesheet")
    script(src="/script/angular.js")
    script(src="/script/socket.io.min.js")
    script(src="/main.js")
    title audiosocket
  body
    header(ng-controller="navctrl")
      
      h1 Hello World